body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

canvas {
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .graph-container {
        flex-direction: column;
    }
}
